.main {
	background-color: black;
	background-image: linear-gradient(indigo, rgb(0, 0, 172));
	width: auto;
	height: auto;
}

h3 {
	margin: 0px;
	text-align: left;
}
.content{
	color: lightgray;
	margin-left: 20px;
}
body {
	margin: 0px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.logo {
	float: left;
	margin: 0px;
	margin-right: 25px;
	margin-left: 50px;
	width: 100px;
	height: 96px;
}
.top_bar {
	align-items: center;
	margin-right: auto;
	margin-left: auto;
	width: 700px;
	height: 96px;
	text-align: center;
	color: white;
	font-size: 36px;
}
.home{
	float: left;
	margin-top: 24px;
	margin-left: 50px;
	width: 200px;
}
.regulamin {
	float: right;
	margin-top: 24px;
	margin-right: 50px;
	width: 200px;
}
.home:hover{
	color: rgb(181, 181, 181);
}
.regulamin:hover {
	color: rgb(181, 181, 181);
}
.Bot {
	margin: 0px;	
	background-color: #270096;
	color: #4d58d4;
}

a {
	text-decoration: none;
}
a:link {
	color: white;
}
a:visited {
	color: white;
}
a:active {
	color: white;
}
a:hover {
	color: lightgreen;
}
