
.dc_button {
	margin-top: 43  px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	background-color: #5865F2;
	width: 130px;
	height: 48px;
	text-align: center;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
.dc_button:hover {
	background-color: #4d58d3;
}
.discordlink {
	float: left;
	margin: auto;
	line-height: 48px;
}
.discordimage {
	float: left;
	margin: auto;
	height: 27px;
	line-height: 64px;
}
.team {
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	width: 900px;
	height: fit-content;
	text-align: center;
	color: white;
	font-size: 38px;
}
.osoby {
	border-style: solid;
	border-radius: 10px;
	background-image: linear-gradient(rgb(0, 0, 156), indigo);
	width: 900px;
	height: 600px;
}
.Nidus {
	float: left;
	margin-left: 80px;
	width: min-content;
}
.Clood {
	float: left;
	margin-right: 81px;
	margin-left: 40px;
	width: min-content;
}
.Majster {
	float: left;
	margin-left: 121px;
	width: min-content;
}
.Ares {
	float: left;
	margin-right: 81px;
	margin-left: 40px;
	width: min-content;
}
.Robus {
	float: left;
	margin-left: 121px;
	width: min-content;
}
.Akwar {
	float: left;
	margin-left: 80px;
	width: min-content;
}
.TenChuj {
	float: left;
	margin-right: 81px;
	margin-left: 40px;
	width: min-content;
}
.Freks {
	float: left;
	margin-left: 80px;
	width: min-content;
}
.Queercia {
	float: left;
	margin-left: 121px;
	width: min-content;
}