#kat{   
    text-align: center;
    color: rgb(193, 193, 193);
}
a:hover{
    color: rgb(193, 193, 193);      
}
a{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: rgb(193, 193, 193);

}

.main{
    height: 100vh;
    background-image: linear-gradient(indigo, rgb(0, 0, 172));
}