* {
  background-color: #020202;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

h1 {
  text-shadow: #e2e2e2 0px 0px 6px;
  line-height: 50vw;
  text-align: center;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}