:root{
    --navBar: #4f4f4f;
    --FontColor: #ffffff;
    --FontHover: rgb(194, 194, 194);
    --TextShadow: #000;
    --shopBgColor: #660070;
}
.RightPadding{
    width: 4px;
    height: 64px;
    float: right;
    margin: 0;
}
body{
    margin: 0;
}
#background{
    background-image: url(/resources/img/background.png);
    height: 100vh;
    margin: 0;
}
#backgroundShop{
    background-image: url(/resources/img/backgroundShop.png);
    height: 5000px;
    margin: 0;
    background-repeat: no-repeat;
    background-color: var(--shopBgColor);
}
#fakemargines{
    margin-top: 8px;
}
#padding{
    float: right;
    color: var(--FontColor);
    font-family: 'Arial Black';
    text-shadow: 1px 1px 1px var(--TextShadow);
    line-height: 64px;
    margin-left: 8px;
    margin-right: 8px;
}
#button{
    color: var(--FontColor);
    font-family: 'Arial Black';
    text-shadow: 1px 1px 1px var(--TextShadow);
    text-align: right;
    float:right;
    line-height: 64px;
    margin: 0;
    padding: 0;
    height: 64px;
}
#button:hover{
    color: var(--FontHover);
}
#logo{
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
}
.logo{
    margin-left: 8px;
    float: left;
    width: 64px;
    scale: 64px;
}
.navbar {
    margin: 0%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 32px;
    background-color: var(--navBar);
    width: 75%;
    height: 64px;
    color: white;
    font-family: Arial;
}
#toppadding{
    height: 16px;
}
#MainGrid{
    margin-left: auto;
    margin-top: 5%;
    margin-right: auto;
    width: max-content;
}
#MainGridLogo{
    margin-left: auto;
    margin-right: auto;
}
#MainGridText{
    color: white;
    font-family: Arial;
    font-size: 48px;
    text-align: center;
    height: 40px;
    text-shadow: 4px 2px rgb(87, 87, 87);
}
#MainGridLogoImg{
    width: 384px;
    height: 384px;
}

#GridMainBox{
    grid-template-columns: auto auto auto auto;
    display: grid;
    margin-left: 64px;
    margin-right:  64px;
    margin-top: 50%;
    column-gap: 32px;
    row-gap: 32px;
}
#GridBoxItem{
    grid-template-columns: auto auto auto auto;
    color: white;
    font-family: Arial;
    text-align: center;
    font-size: 28px;
    border: 4px #340039;
    background-color: #49004f;
    border-radius: 64px;
    border-style: solid;
}
#GridBoxItem:hover{
    transform: scale(1.1,1.1);
    transition-duration: 0.5s;    
}
#GridItemPrice{
    font-size: 20px;
}
#ShopNameTagStuff{
    font-family: Arial;
    font-size: 48px;
    color: white;
    text-align: center;
    margin-top: 50vh;
    text-shadow: 4px 2px rgb(87, 87, 87);
    width: auto;
}
#ShopPadding{
    height: 86px;
    width: 20px;
}
#ShopItemImg{
    width: 256px;
}
#PaymentTutorial{
    margin-top: 128px;
    color:white;
    font-family: Arial;
    font-size: 26px;
    text-align: center;
}
#HowToPay{
    margin-top: 128px;
    color:white;
    font-family: Arial;
    font-size: 26px;
    text-align: center;
}
#WrongPayment{
    margin-top: 128px;
    color:white;
    font-family: Arial;
    font-size: 24px;
    float: left;
    width: min-content;
    margin-left: 25ch;
}
#RightPayment{
    margin-top: 128px;
    color:white;
    font-family: Arial;
    font-size: 24px;
    float: right;
    width: min-content;
    margin-right: 25ch;

}
#OtherPaymentTypes{
    margin-top: 35vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#PaymentBlik{
    margin: 0;
}

#PaymentPP{
    margin: 0;
}

#PaymentPSC{
    margin: 0;
}
#PaymentChuj{
    width: 200px;
    margin: 0%;
}

#Payment{
    width: 512px;
}
a:hover{
    color:white;
    text-decoration: none;
}
a:visited{
    color:white;
    text-decoration: none;
}
a :active{
    color:white;
    text-decoration: none;
}
a{
    color:white;
    text-decoration: none;
}