.main {
	width: auto;
	height: 100vh;
}
.back:hover{
    background: #4d58d3;
    color: darkgray;
}
.back{
    color: white;
    width: max-content;
    margin-left: 200px;
    background-color: #5865F2;
    margin-top: 200px;
    height: 48px;
    border-radius: 10px;

}
.backico{
    float: left;
    line-height: 48px;
    font-size: 32px;
    margin-right: 6px;
    margin-left: 5px;
}
.backtxt{
    float: right;
	line-height: 48px;
    margin-right: 5px;
}